$button-color: #1a1a1a;
$button-border-radius: 8px;

button {
  cursor: pointer;
  border-radius: $button-border-radius;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: $button-color;
  transition: border-color $input-focus-timing;

  &:hover:not([disabled]) {
    border-color: $hover-color;
  }

  &:focus,
  &:focus-visible {
    outline: $focus-border-radius auto -webkit-focus-ring-color;
  }
}
