$button-color: $color-dark-black;
$button-border-radius: $border-radius;

button {
  cursor: pointer;
  border-radius: $border-radius;
  border: $border-default-width solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: $button-color;
  transition: border-color $timing-input-focus;

  &:hover:not([disabled]) {
    border: $border-hover-width solid $border-hover-color;
  }

  &:focus,
  &:focus-visible {
    outline: $border-focus-width auto -webkit-focus-ring-color;
  }
}
