input {
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: $border-radius;
  border: 1px solid $color-gray;
  transition: border-color $timing-input-focus;

  &[type="checkbox"] {
    display: grid;
    grid-template-columns: 0.75em auto;
    gap: 0.5em;
  }

  &:hover {
    border: $border-hover-width solid $border-hover-color;
  }

  &:focus,
  &:focus-visible {
    outline: $border-focus-width auto -webkit-focus-ring-color;
  }
}
