// Colors
$color-black: rgb(36, 36, 36);
$color-darker-black: #1e1e1e; 
$color-dark-black: rgb(26,26,26);
$color-white: rgba(255, 255, 255, 0.87);
$color-pure-white: rgb(255, 255, 255);
$color-yellow: rgb(226, 197, 65);
$color-red: rgb(237, 98, 98);
$color-pink: rgb(203, 139, 208);
$color-green: rgb(119, 216, 119);
$color-gray: rgb(61, 61, 61);
$color-light-blue: rgb(100, 108, 255);

// Borders
$border-hover-color: $color-light-blue;
$border-focus-color: $color-light-blue;
$border-radius: 10px;
$border-focus-width: 2px;
$border-hover-width: 1px;
$border-default-width: 1px;

// Spacing
$spacing-unit: 1rem;
$spacing-double: 2rem;

// Size
$button-min-width: 34px;

// Timing
$timing-input-focus: 0.25s;
